@model SalesOrder.Entity.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">FirstName</div>
    <div class="display-field">@Model.FirstName</div>

    <div class="display-label">LastName</div>
    <div class="display-field">@Model.LastName</div>

    <div class="display-label">Email</div>
    <div class="display-field">@Model.Email</div>

    <div class="display-label">Address</div>
    <div class="display-field">@Model.Address</div>

    <div class="display-label">City</div>
    <div class="display-field">@Model.City</div>

    <div class="display-label">Zip</div>
    <div class="display-field">@Model.Zip</div>

    <div class="display-label">Gender</div>
    <div class="display-field">@Model.Gender</div>

    <div class="display-label">State</div>
    <div class="display-field">@(Model.State == null ? "None" : Model.State.Name)</div>

    <div class="display-label">Orders</div>
    <div class="display-field">@(Model.Orders == null ? "None" : Model.Orders.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


